.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    gap: var(--space-xs);
    background-color: var(--color-text-main);

    h1 {
        text-align: center;
    }
}