.Cart {
    flex: 4;

    background: var(--color-bg-app-gap);

    border-top-left-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-md);

    display: flex;
    flex-direction: column;

    align-items: center;
    gap: var(--space-xs);


    & > h2 {
        border-top-left-radius: var(--radius-md);
        border-bottom-left-radius: var(--radius-md);

        text-align: center;
        padding: var(--space-md);

        width: 100%;
        font-size: var(--font-size-4xl);
        font-weight: var(--font-weight-md);
        background-color: var(--color-bg-main);
    }

    .CartInner {
        gap: var(--space-xs);
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
