.Navigation {
    width: 100%;
    padding: var(--space-md);

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;

    background-color: var(--color-bg-main);

    h1 {
        font-size: var(--font-size-5xl);
        align-content: center;

        &:hover {
            cursor: pointer;
        }
    }

    .NavigationInner {
        width: 100%;
        max-width: 1600px;
        margin-inline: auto;

        gap: var(--space-md);

        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .ButtonContainer {
            height: 100%;
            width: 64px;
            justify-content: space-between;

            padding: var(--space-sm);

            display: flex;
            flex-direction: column;

            background: var(--color-bg-contrast);
            border-radius: var(--radius-md);

            p {
                text-align: center;
                white-space: normal;
                color: var(--color-text-inverse);
                margin: 0;
            }

            .Icon {
                height: 50%;
                width: auto;
                color: var(--color-text-inverse);
            }

            p,
            .Icon {
                transition: color 0.2s ease;
            }

            transition: background-color 0.2s ease;

            &:hover {
                background: var(--color-control-dark-hover);

                p,
                .Icon {
                    color: var(--color-text-main);
                }
            }
        }
    }
}
