.Popup {
    background-color: var(--color-overlay);

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(4px);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    .PopupInner {
        width: 640px;
        height: 480px;

        padding: var(--space-md);
        gap: var(--space-md);

        border: solid var(--color-border-strong) 2px;
        border-radius: var(--radius-md);

        background-color: var(--color-bg-surface);


        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: var(--space-lg);
        }


        button {
            border: solid var(--color-border-strong) 2px;
            border-radius: var(--radius-md);
            width: 100%;

            padding: var(--space-sm);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: var(--space-sm);


            transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
            &:hover {
                background-color: var(--color-bg-contrast);
                border: solid var(--color-bg-contrast) 2px;

                color: var(--color-text-inverse);
            }

            .Icon {
                height: 100%;
                width: auto;
            }

            &:nth-last-child(2) {
                margin-top: auto;
            }
        }

        .Input {
            width: 100%;
            min-width: 0;


            background: var(--color-input-bg);

            color: var(--color-input-text);

            padding: var(--space-sm);
            border-radius: var(--radius-sm);
            border: 1px solid var(--color-border-strong);
            align-content: center;

            &,
            &:focus {
                outline: none;
            }
        }
    }
}
