.Products {
    flex: 1;

    width: 100%;
    max-width: 1600px;
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(6, 1fr);


    margin-block: var(--space-md);
    gap: var(--space-md);
}

.LoadMoreTrigger {
    min-height: 1px;
}