.CartList {
    flex: 1;
    min-width: 256px;

    background-color: var(--color-bg-main);

    border-top-right-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);

    display: flex;
    flex-direction: column;
    align-content: center;

    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;

    .CreateCartButton {
        background-color: var(--color-bg-main);
        position: sticky;
        top: 0;
        border-bottom: solid var(--color-text-main) 2px;
    }

    button {
        border-bottom-right-radius: var(--radius-md);
        border-top-right-radius: var(--radius-md);
        width: 100%;

        padding: var(--space-md);

        display: flex;
        flex-direction: row;

        align-items: center;

        gap: var(--space-sm);



        transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
        &:hover {
            background-color: var(--color-text-main);
            color: var(--color-bg-main);
        }

        .Icon {
            height: 100%;
            width: auto;
        }
    }
}