.DeliveryOptionSidebar {
    flex: 2;
    height: 100%;

    background-color: var(--color-bg-main);
    border-radius: var(--radius-lg);

    padding: var(--space-md);
    gap: var(--space-md);

    position: relative;
    display: flex;
    flex-direction: column;

    h2 {
        width: 100%;
        text-align: center;

        font-size: var(--font-size-4xl);
    }

    h3 {
        padding-inline: 0;
    }

    button.Close {
        position: absolute;
        top: var(--space-md);
        right: var(--space-md);

        display: flex;
        flex-direction: row;
        gap: var(--space-sm);
        align-items: center;

        background-color: var(--color-bg-surface);
        padding: var(--space-sm);
        border-radius: var(--radius-sm);
        transition: background-color 0.2s ease, color 0.2s ease;

        &:hover {
            background-color: var(--color-bg-elevated);
        }
    }

    .Option {
        display: flex;
        flex-direction: row;

        width: 100%;
        padding: var(--space-sm);

        border-radius: var(--radius-md);
        background-color: var(--color-bg-surface);

        gap: var(--space-sm);

        button {
            font-size: var(--font-size-4xl);
            font-weight: var(--font-weight-md);

            border-radius: var(--radius-md);
            padding: var(--space-sm);
            flex: 1;
            background-color: var(--color-bg-surface);
            transition: background-color 0.2s ease, color 0.2s ease;

            &.Active {
                background-color: var(--color-text-accent);
                color: var(--color-text-inverse);
            }

            &:hover {
                background-color: var(--color-bg-elevated);
            }

            &.Active:hover {
                background-color: var(--color-text-accent);
            }
        }
    }

    button.Deliver {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-md);

        border: solid var(--color-border-strong) 2px;
        border-radius: var(--radius-md);
        width: 100%;

        padding: var(--space-sm);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--space-sm);


        transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
        &:hover {
            background-color: var(--color-bg-contrast);
            border: solid var(--color-bg-contrast) 2px;

            color: var(--color-text-inverse);
        }

        .Icon {
            height: 100%;
            width: auto;
        }
    }
}
