.CartList {
    flex: 3;

    border-radius: var(--radius-md);
    padding: var(--space-md);
    padding-top: 0;

    gap: var(--space-md);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}