.Authentication {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    flex: 1;

    background-color: var(--color-bg-main);

    .AuthenticationInner {
        width: 640px;
        height: 480px;


        border: solid var(--color-border-strong) 2px;
        border-radius: var(--radius-md);

        display: flex;
        flex-direction: column;

        align-items: center;

        padding: var(--space-md);

        h2 {
            margin-bottom: var(--space-lg);
        }

        button {
            border: solid var(--color-border-strong) 2px;
            border-radius: var(--radius-md);
            width: 100%;

            padding: var(--space-sm);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: var(--space-sm);


            transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
            &:hover {
                background-color: var(--color-bg-contrast);
                border: solid var(--color-bg-contrast) 2px;

                color: var(--color-text-inverse);
            }

            .Icon {
                height: 100%;
                width: auto;
            }

            &:last-child {
                margin-top: auto;
            }
        }
    }
}
