.CartListItem {
    display: flex;
    flex-direction: row;

    align-items: stretch;
    min-width: 0;

    overflow: hidden;
    flex-shrink: 0;

    &:has(h2:hover) {
        overflow: visible;
    }

    h2 {
        transition: background-color 0.3s ease, color 0.3s ease;

        flex: 1;
        min-width: 0;
        display: block;
        height: 100%;

        padding: var(--space-md);

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            color: var(--color-bg);
            background-color: var(--color-text);

            overflow: visible;
            white-space: nowrap;
            text-overflow: clip;
        }

        border-top-right-radius: var(--radius-md);
        border-bottom-right-radius: var(--radius-md);
    }

    button {
        height: 100%;
        aspect-ratio: 1 / 1;
        align-self: stretch;

        flex: 0;
        border: none;

        border-radius: var(--radius-md);
    }

    &.Active {
        h2 {
            color: var(--color-bg);
            background-color: var(--color-text);
        }
    }
}