.CartItem {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    justify-content: space-between;
    align-items: start;

    img {
        height: 100%;
        border-radius: var(--radius-md);
    }

    height: 256px;
    width: 100%;

    overflow: hidden;

    align-items: end;
    border-radius: var(--radius-md);
    gap: var(--space-md);


    .Controls {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        width: 100%;

        h3, p {
            font-size: var(--font-size-md);
            font-weight: var(--font-weight-md);
            margin: 0;
        }

        .QuantityControl {
            min-width: 128px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            background-color: var(--color-text-muted);

            border-radius: var(--radius-md);
            padding: var(--space-sm);
            color: var(--color-bg-main);

            button {
                font-size: 18px;
                display: flex;

                padding: 0;

                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: var(--color-text-muted);
                    color: var(--color-bg-main);
                }
            }
        }
    }
}